
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
//去google font，點開文字旁邊的+，還後選擇import

*{
    font-family: 'Kdam Thmor Pro';
    box-sizing: border-box;
    margin: 0;
}
